.container {
  display: flex;
  flex-direction: column;

  .header {
    min-height: 55px;
    border-bottom: 1px solid #aaa;
    background: #f8912c;
    background: -webkit-linear-gradient(right, #f8912c, #f14321);
    background: linear-gradient(to right, #f8912c, #f14321);
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 18px;
    color: white;

    .title-container {
      display: flex;
      align-items: center;

      .cat {
        height: 64px;
        width: 64px;
      }

      .title {
        margin-left: 24px;
        font-style: normal;
        font-weight: normal;
        line-height: 32px;
        font-size: 24px;
      }
    }

  }

  .controls {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 16px;
    margin-top: 16px;

    &>* {
      margin-right: 2rem;
    }

    .go {
      margin-left: 2rem;
    }

    .textbox {
      width: 300px;
    }

  }

  .info-banner {
    border: 1px solid #8f99c94d;
    background-color: #e2eefc;
    border-radius: 5px;
    padding: 1rem;
    
    margin: 1rem;
  }


  .users {
    margin: 8px;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;

    .computer {
      background-image: url('../assets/computer.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 180px;
      height: 150px;
      margin: 6px;

      .user {
        width: 164px;
        height: 95px;
        margin-left: 8px;
        margin-right: 6px;
        margin-top: 7px;
        background-color: #c72424;
        color: white;
        text-align: center;

        div {
          margin-bottom: 5px;
        }
      }

      .enabled {
        background-color: green !important;
      }
    }
  }
}