<div *ngIf="!loading" class='container'>
  <div class="header" *ngIf="showHeader">
    <form [formGroup]="apiKeyFormGroup">
      <mat-form-field class='textbox' appearance="outline">
        <mat-label>SDK key</mat-label>
        <input matInput placeholder="SDK key" formControlName="apiKey" required>
        <mat-error *ngIf="apiKeyFormGroup.hasError('apiKey')">
          Invalid SDK key
        </mat-error>
      </mat-form-field>
      <button class="go" mat-flat-button color="primary" (click)='initializeConfigCatClient()'>Go</button>
    </form>
    <form [formGroup]="featureFlagKeyFormGroup">
      <mat-form-field class='textbox' appearance="outline">
        <mat-label>Feature flag key</mat-label>
        <mat-select formControlName="featureFlagKey" required placeholder="Feature flag key" (selectionChange)="initializeFeatureFlagKey()">
          <mat-option *ngFor="let key of allKeys" [value]="key">
            {{key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="apiKeyFormGroup.hasError('featureFlagKey')">
          Invalid API key
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-icon-button (click)="showHeader = false">
      <mat-icon>close</mat-icon>
    </button>
    <div class="counter">
      <form [formGroup]="userCountFormGroup">
        <mat-form-field class='textbox' appearance="outline">
          <mat-label># of &#64;example accounts</mat-label>
          <input matInput placeholder="40" formControlName="userCount" type="number" required>
        </mat-form-field>
      <button class="go" mat-stroked-button (click)='generateUsers()'>Ok</button>
      </form>
    </div>
    <div class="counter">
      <div>Total: {{users.length}}</div>
      <div>Green: {{greenCounter}}</div>
      <div>Red: {{redCounter}}</div>
    </div>
  </div>
  <div class='users'>
    <div *ngFor="let user of users" class="computer">
      <div class='user' *ngIf="featureFlagKeyInitialized" [ngClass]="(user.featureEnabled)?'enabled':''">
        <div>Email:<br>{{user.userObject.email}}</div>
        <div>Country: {{user.userObject.country}}</div>
        <div>subscriptionType: {{user.userObject.custom.subscriptionType}}</div>
      </div>
    </div>
  </div>
</div>
