.container {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    &>* {
      margin-right: 2rem;
    }

    .go {
      margin-left: 2rem;
    }

    .textbox {
      width: 300px;
    }

  }

  .users {

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;

    .computer {
      background-image: url('../assets/computer.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 180px;
      height: 150px;
      margin: 6px;

      .user {
        width: 164px;
        height: 95px;
        margin-left: 8px;
        margin-right: 6px;
        margin-top: 7px;
        background-color: #c72424;
        color: white;
        text-align: center;

        div {
          margin-bottom: 5px;
        }
      }

      .enabled {
        background-color: green !important;
      }
    }
  }
}