<div *ngIf="!loading" class='container'>
  <div class="header" *ngIf="showHeader">
    <form [formGroup]="apiKeyFormGroup">
      <ng-template matStepLabel>API Key</ng-template>
      <mat-form-field class='apiKey' appearance="outline">
        <mat-label>Api key</mat-label>
        <input matInput placeholder="Api key" formControlName="apiKey" required>
        <mat-error *ngIf="apiKeyFormGroup.hasError('apiKey')">
          Invalid API key
        </mat-error>
      </mat-form-field>
      <button class="go" mat-flat-button color="primary" (click)='initializeConfigCatClient()'>Go</button>
    </form>
    <form [formGroup]="featureFlagKeyFormGroup">
      <ng-template matStepLabel>Feature flag key</ng-template>
      <mat-form-field class='featureFlagKey' appearance="outline">
        <mat-label>Feature flag key</mat-label>
        <mat-select formControlName="featureFlagKey" required placeholder="Feature flag key" (selectionChange)="initializeFeatureFlagKey()">
          <mat-option *ngFor="let key of allKeys" [value]="key">
            {{key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="apiKeyFormGroup.hasError('featureFlagKey')">
          Invalid API key
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-icon-button (click)="showHeader = false">
      <mat-icon>close</mat-icon>
    </button>
    <div class="counter">
      <div>Green: {{greenCounter}}</div>
      <div>Red: {{redCounter}}</div>
    </div>
  </div>
  <div class='users'>
    <div *ngFor="let user of users" class="computer">
      <div class='user' *ngIf="featureFlagKeyInitialized" [ngClass]="(user.featureEnabled)?'enabled':''">
        <div>{{user.userObject.email}}</div>
        <div>{{user.userObject.country}}</div>
        <div>{{user.userObject.custom.subscriptionType}}</div>
      </div>
    </div>
  </div>
</div>
